[submodule "opt/sol2"]
	path = opt/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "opt/lua-protobuf"]
	path = opt/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "opt/zlib"]
	path = opt/zlib
	url = https://github.com/madler/zlib.git
[submodule "opt/openssl"]
	path = opt/openssl
	url = https://github.com/luvit/openssl.git
